h1{
    color : brown;
    text-align: center;
}

.header{
    background-color: royalblue;
    display : flex;
    justify-content : space-between;
    text-align: center;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align : center;
}

.Footer{
    display : flex;
    justify-content: flex-end;
}

.aboutme{
    color : blue;
    text-align: center;
}